// flex

.d_flex {
  display: flex;
}

.fd_col {
  flex-direction: column;
}

.fd_rev {
  flex-direction: row-reverse;
}

.ai_center {
  align-items: center;
}

.ta_center {
  text-align: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

.jc_center {
  justify-content: center;
}

.jc_between {
  justify-content: space-between;
}

.jc_around {
  justify-content: space-around;
}

.gap30 {
  gap: 30px;
}

.gap20 {
  gap: 20px;
}

.gap23 {
  gap: 23px;
}

.gap40 {
  gap: 40px;
}

.gap67 {
  gap: 67px;
}
