@import "reset";
@import "flex";
@import "variables";
@import "mixins";

@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Graphik LCG";
}

.header {
  padding: 34px 0;
  border-bottom: 1px solid $light_gray;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header__wrap {
  gap: 25px;
  .header__nav-wrap {
    width: 665px;
    gap: 20px;
  }
  .header__logo {
    max-width: 130px;
  }
  .header__ul {
    gap: 40px;
    font-size: $fs_15;
    line-height: $lh_20;
  }
  .header__btn-wrap {
    gap: 10px;
    .header__btn-login {
      @include btn(120px, 45px, $white);
      @include font($black, 16px, 600);
      border: 1px solid $black_gray;
    }
    .header__btn-free {
      @include btn(120px, 45px, $orange);
      @include font($white, 16px, 600);
      border: none;
    }
  }
}

.main__container {
  padding: 97px 0 192px;
  .localize__wrap {
    padding: 0 20px;
    width: 1290px;
    margin: 0 auto;
    .localize__wrap-col {
      gap: 50px;
      h1 {
        width: 552px;
        @include font($black, 65px, 600);
        line-height: 70px;
      }
      .localize__txt {
        width: 471px;
        @include font($black, 25px, 400);
        line-height: 35px;
      }
      .localize__btn-wrap {
        gap: 10px;
        .localize__btn-free {
          @include btn(160px, 60px, $orange);
          @include font($white, 16px, 600);
          border: none;
        }
        .localize__btn-demo {
          @include btn(160px, 60px, $white);
          @include font($black, 16px, 600);
          border: 1px solid $black_gray;
        }
      }
      .localize__text {
        width: 369px;
        @include font($black, 15px, 400);
      }
    }
    .localize__img {
      width: 695px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.company {
  width: 100%;
  padding: 108px 0 104px;
  background: #ff9c7d;
  display: inline-block;
  &__title {
    @include font($black, 35px, 600);
    width: 720px;
    line-height: 1.2;
  }
  &__logo {
    width: 1290px;
  }
  &__wrap {
    gap: 70px;
  }
}

.process {
  width: 1330px;
  padding: 0 20px 250px;
  margin: 0 auto;
  &__top {
    padding-top: 90px;
  }
  &__bottom {
    padding: 0 0 150px;
  }
  &__title {
    width: 493px;
    @include font($black, 50px, 600);
    line-height: 1.2;
  }
  &__txt {
    width: 491px;
    @include font($black, 20px, 400);
    line-height: 30px;
  }
  &__title-sm {
    width: 96px;
    @include font($black, 20px, 600);
    line-height: 30px;
  }
  &__img {
    width: 632px;
  }
  &__span {
    text-decoration: underline;
  }
}

.cards {
  &__section {
    background-color: $white_2;
    padding: 120px 115px 147px;
  }
  &__wrapper {
    width: 1210px;
    margin: 0 auto;
  }
  &__title {
    width: 890px;
    @include font($black, 50px, 600);
    line-height: 1.2;
    margin: 0 auto;
  }
  &__wrapp {
    margin-top: 55px;
  }
}

.card {
  width: 330px;
  &__title {
    @include font($black, 25px, 600);
    line-height: 1.4;
  }
  &__txt {
    @include font($black, 18px, 400);
    line-height: 1.38;
  }
}

.cards {
  &__section-2 {
    padding: 154px 45px 217px;
  }
  &__wrapper-2 {
    width: 1320px;
    margin: 0 auto;
  }
  &__title-2 {
    width: 1287px;
    @include font($black, 50px, 600);
    line-height: 1.2;
    margin: 0 auto;
  }
  &__wrapp-2 {
    margin-top: 55px;
  }
}

.card-2 {
  width: 440px;
  &__title-2 {
    @include font($black, 25px, 600);
    line-height: 1.4;
  }
  &__txt-2 {
    @include font($black, 18px, 400);
    line-height: 1.38;
  }
  &__img-1 {
    width: 144px;
    height: 200px;
  }
  &__img-2 {
    width: 215px;
    height: 200px;
  }
  &__img-3 {
    width: 195px;
    height: 200px;
  }
  &__padd-1 {
    padding: 50px 31px 0 0;
  }
  &__padd-2 {
    padding: 50px 31px 0 0;
  }
  &__padd-3 {
    padding: 50px 3px 0 0;
  }
  &__title {
    @include font($black, 30px, 600);
    line-height: 1.33;
  }
  &__txt {
    @include font($black, 20px, 400);
    line-height: 1.5;
  }
}

.photo {
  background: $cyan;
  width: 100%;
  padding: 53px 75px 105px;
  &__main-txt {
    max-width: 920px;
    @include font($black, 30px, 400);
    line-height: 1.33;
    padding-bottom: 23px;
  }
  &__txt-sm {
    @include font($black, 15px, 400);
    line-height: 1.66;
  }
  &__photo-man {
    width: 310px;
    height: 310px;
  }
}

.software {
  background: $beige;
  width: 100%;
  padding: 70px 75px 84px;
  &__img {
    width: 176px;
    height: 154px;
  }
  &__title {
    width: 461px;
    @include font($black, 35px, 600);
    line-height: 1.42;
  }
  &__wrapper-logo {
    width: 481px;
    padding: 30px 62px 22px 71px;
    border-left: 1px solid $black;
  }
  &__logo-star {
    width: 128px;
    height: 20px;
  }
  &__txt {
    @include font($black, 15px, 400);
    line-height: 1.66;
    letter-spacing: 0.75px;
  }
}

.tools {
  &__wrap {
    padding: 165px 153px 162px;
  }
  &__title {
    width: 791px;
    @include font($black, 65px, 600);
    line-height: 1.15;
  }
  &__txt {
    width: 539px;
    @include font($black, 25px, 400);
    line-height: 1.2;
    padding-bottom: 25px;
  }
  &__img {
    width: 1023px;
    height: 445px;
    margin-bottom: 32px;
  }
  &__btn {
    @include btn(193px, 60px, $orange);
    @include font($white, 16px, 600);
    border: none;
    line-height: 0.6;
  }
}

.ease {
  width: 100%;
  padding: 119px 0 161px;
  background: #ff9c7d;
  display: inline-block;
  &__title {
    width: 784px;
    @include font($black, 65px, 600);
    line-height: 1.15;
    margin-bottom: 29px;
  }
  &__txt {
    width: 438px;
    @include font($black, 20px, 400);
    line-height: 1.5;
    margin-bottom: 54px;
  }
  &__btn {
    @include btn(160px, 60px, $black);
    @include font($white, 17px, 600);
    border: none;
    line-height: 3.52;
  }
}

.footer {
  padding: 42px 0 93px;
  &__wrapper {
    .footer__wrapp {
      border-bottom: 1px solid $black;
      padding-bottom: 95px;
    }
  }

  &__case {
    width: 370px;
  }
  &__title {
    width: 257px;
    @include font($black, 40px, 600);
    line-height: 1.25;
    margin-bottom: 28px;
  }
  &__img {
    width: 300px;
    height: 300px;
    margin-bottom: 31px;
  }
  &__logo {
    width: 80px;
    height: 32px;
    margin-bottom: 11px;
  }
  &__txt {
    width: 290px;
    @include font($black, 20px, 400);
    line-height: 1.5;
    margin-bottom: 15px;
  }
  &__sub-title {
    @include font($black, 20px, 600);
    line-height: 1.5;
  }
  &__info {
    width: 850px;
  }
  &__info-content {
    width: 187px;
  }
  &__info-title {
    @include font($black, 20px, 600);
    line-height: 1.25;
    margin-bottom: 21px;
  }
  &__wrapp-bottom {
    margin: 48px 0;
  }
  &__bottom-txt {
    width: 301px;
    @include font($black, 12px, 400);
    line-height: 1.25;
  }
  &__bottom-text {
    width: 109px;
    @include font($black, 12px, 400);
    line-height: 1.25;
    margin-right: 76px;
  }
}
